<?xml version="1.0"?>
<robot name="SoftHandPro" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find softhandpro_description)/urdf/SoftHandPro.utils.xacro"/>
	<xacro:arg name="namespace" default="SoftHandPro"/>

	<link name="root_link"/>
	<xacro:build_hand_from_yaml configuration="SoftHandPro_right" namespace="$(arg namespace)" parent="root">
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</xacro:build_hand_from_yaml>

</robot>