<launch>
  <!-- device info -->
  <arg name="device_id" default="1" doc="The ID of the device [1, 128]."/>
  <arg name="device_type" value="imu" doc="The type of the device [qbhand, qbmove, ...]."/>
  <arg name="device_name" default="$(arg device_type)$(arg device_id)" doc="The unique device name used in the yaml controller configurations (also in the urdf if not already specified there)."/>
  <!-- robot settings -->
  <arg name="control_duration" default="0.05" doc="The duration of the control loop [s]."/>
  <arg name="robot_hardware" default="[$(arg device_name)]" doc="The robot hardware interface names, e.g. [device1, device2, ...]."/>
  <arg name="robot_name" default="$(arg device_type)" doc="The unique robot name."/>
  <arg name="robot_namespace" default="$(arg device_name)" doc="The unique robot namespace."/>

  <!-- read/write settings -->
  <arg name="max_repeats" default="3" doc="The maximum number of consecutive repetitions to mark retrieved data as corrupted."/>
  <arg name="get_imu_values" value="true" doc="Choose whether or not to retrieve IMU measurements from the device."/>
  <arg name="compute_quaternions_node" value="false" doc="Choose whether or not to compute quaternions in ROS node."/>
  <arg name="compute_angles" value="true" doc="Choose whether or not to compute angles from quaternions."/>
  <!-- initialization settings -->
  <arg name="rescan_on_initialization" default="false" doc="Choose whether or not to rescan the serial ports on node startup."/>
  <!-- launch settings -->
  <arg name="standalone" default="true" doc="Choose whether or not to start the Communication Handler."/>

  <include file="$(find nmmi_driver)/launch/communication_handler.launch" if="$(arg standalone)"/>

  <include file="$(find nmmi_bringup)/launch/device_bringup.launch" pass_all_args="true"/>

  <include file="$(find nmmi_bringup)/launch/robot_bringup.launch" pass_all_args="true"/>

</launch>